* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-btn {
  background: white;
  color: #111 !important;
  padding: 6px 16px;
  border-radius: 20px;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* ===== HOME ===== */
/* social */
.home-social {
  margin-bottom: 20px;
  display: flex;
  gap: 18px;
}

.home-social a {
  font-size: 22px;
  color: #111;
  text-decoration: none;
}

.home-social a:hover {
  color: #0d6efd;
}

.home {
  padding: 140px 10% 80px;
  background-image: url("bg\ image.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.home-container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.home-text h1 {
  font-size: 46px;
  color: #f9f9f9;
}

.home-text h3 {
  color: #ccbebe;
  margin: 20px 0 30px;
}

.home-text p {
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 500px;
  color: aqua;
}

.home-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #0d6efd;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
  border-radius: 6px;
}

.btn-secondary {
  border: 2px solid #0d6efd;
  color: #0d6efd;
  padding: 12px 26px;
  text-decoration: none;
  border-radius: 6px;
}

.home-image img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: 3px solid #333;
  margin-left:400px;
}

/* ===== ABOUT ===== */
.about {
  padding: 80px 10%;
  background: #3d47b2;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image img {
  width: 260px;
  height: 320px;
  object-fit: cover;
  border: 3px solid #333;
}

/* ===== SKILLS ===== */
.skills {
  padding: 80px 10%;
  text-align: center;
  background: #f9f9f9;
}

.skills-list span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #333;
}


/* ===== PROJECTS ===== */
.projects {
  padding: 80px 10%;
  background: #f9f9f9;
}

.project-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  border: 1px solid #ccc;
  width: 300px;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  padding: 15px 15px 5px;
}

.project-card p {
  padding: 0 15px 15px;
  font-size: 14px;
  line-height: 1.6;
}
/* mobile */
@media (max-width: 768px) {
  .project-container {
    justify-content: center;
  }
}

/* ===== CONTACT ===== */
.contact {
  padding: 80px 10%;
  background: #111;
  color: white;
  text-align: center;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .home-container,
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-image img,
  .about-image img {
    width: 240px;
    height: 300px;
  }

  .home-buttons {
    justify-content: center;
  }
}
/* ===== IMAGE LIGHTBOX ===== */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border: 4px solid white;
}
/* ===== CONTACT FORM ===== */
.contact {
  padding: 80px 10%;
  background: #111;
  color: white;
  text-align: center;
}

.contact h2 {
  margin-bottom: 30px;
}

.contact form {
  max-width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  font-size: 14px;
  border: none;
  outline: none;
}

.contact textarea {
  resize: none;
  height: 120px;
}

.contact button {
  padding: 12px;
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background: #084298;
}
